<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th>
              <%= @book.user.name %>
            </th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>
              <%= @book.user.introduction %>
            </th>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(@book.user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <h2 class="mt-3">New book</h2>
      <%= form_with model: @Book do |f| %>
        <div class="form-group">
          <label for="inputTitle">Title</label><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="inputOpinion">Opinion</label><br>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit 'Create Book', class: "btn btn-success btn-sm justify-content-start" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to @book.title, book_path %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fas fa-heart" style="color: red;" ></i><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fas fa-heart"></i><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td>
              <p>コメント数：<%= @book.book_comments.count %></p>
            </td>
            <% if @book.user == current_user %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success btn-sm" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div>
        <% @book.book_comments.each do |book_comment| %>
          <%= link_to user_path(@book.user.id) do %>
            <%= image_tag book_comment.user.get_profile_image(100,100) %>
            <%= book_comment.user.name %>
          <% end %>
          <%= book_comment.comment %>
          <% if book_comment.user == current_user %>
            <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger btn-sm" %><br>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', cols: '100', placeholder: "コメントをここに" %><br>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>